html {
    font-size: 18px;


}

#grid-pagina {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas: "welcome welcome welcome"
        "utilizatori utilizator_statistica date_site"
        "evenimente evenimente orar"
        "anunturi anunturi orar"
        "prezentare Promotii Promotii"
        "intrebari_frecvente intrebari_frecvente intrebari_frecvente";

}

#grid-pagina>* {
    border: 2px solid blueviolet;
    margin: 0;

}

#grid-pagina>figure {
    margin: 0;
}

#prezentare {
    padding: 5px;
    grid-area: prezentare;
}

#utilizatori {
    padding: 5px;
    grid-area: utilizatori;
}

#evenimente {
    padding: 5px;
    grid-area: evenimente;
}

#anunturi {
    padding: 5px;
    grid-area: anunturi;
}

#utilizator_statistica {
    padding: 5px;
    grid-area: utilizator_statistica;
}

#date_site {
    padding: 5px;
    grid-area: date_site;
}

#welcome {
    padding: 5px;
    grid-area: welcome;
}

#Promotii {
    padding: 5px;
    grid-area: Promotii;
}

#orar {
    padding: 5px;
    grid-area: orar;
}

#intrebari_frecvente {
    padding: 5px;
    grid-area: intrebari_frecvente;
}



@media screen and (max-width:1200px) {
    html {
        font-size: 15px;
    }

    #grid-pagina {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        grid-template-areas: "welcome  welcome"
            "utilizatori utilizator_statistica"
            "date_site evenimente"
            "anunturi orar"
            "prezentare Promotii"
            "index-intrebari index-intrebari ";
    }
}

@media screen and (max-width:800px) {

    html {
        font-size: 12px;
    }


    #grid-pagina {
        display: block;
        gap: 10px;
    }
}