html {
    font-size: 18px;
    font-family: "Kameron", sans-serif;
    font-style: normal;

}

#grid-pagina {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas: "welcome welcome welcome"
        "utilizatori utilizator_statistica date_site"
        "evenimente evenimente orar"
        "anunturi anunturi orar"
        "prezentare Promotii Promotii"
        "intrebari_frecvente intrebari_frecvente intrebari_frecvente";

}

#grid-pagina>* {
    border: 2px solid blueviolet;
    margin: 0;
    padding: 2px;

}

#grid-pagina>figure {
    margin: 0;
}

#prezentare {

    grid-area: prezentare;
}

#utilizatori {

    grid-area: utilizatori;
}

#evenimente {

    grid-area: evenimente;
}

#anunturi {

    grid-area: anunturi;
}

#utilizator_statistica {

    grid-area: utilizator_statistica;
}

#date_site {

    grid-area: date_site;
}

#welcome {

    grid-area: welcome;
}

#Promotii {

    grid-area: Promotii;
}

#orar {

    grid-area: orar;
}

#intrebari_frecvente {
    padding: 5px;
    grid-area: intrebari_frecvente;
}



@media screen and (max-width:1200px) {
    html {
        font-size: 15px;
    }

    #grid-pagina {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        grid-template-areas: "welcome  welcome"
            "prezentare utilizator_statistica"
            "date_site evenimente"
            "anunturi orar"
            "utilizator Promotii"
            "index-intrebari index-intrebari ";
    }
}

@media screen and (max-width:800px) {

    html {
        font-size: 12px;
    }


    #grid-pagina {
        display: block;
        gap: 2px;
    }
}