html {
    font-size: 18px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

#grid-pagina {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas: "welcome welcome welcome"
        "utilizatori utilizator_statistica date_site"
        "evenimente evenimente orar"
        "anunturi anunturi orar"
        "prezentare Promotii Promotii"
        "intrebari_frecvente intrebari_frecvente intrebari_frecvente";

}

#grid-pagina>* {
    border: 2px solid var(--culoare-text);
    padding: 5px;
    background: linear-gradient(0deg, var(--portocal) 0%, var(--verde-lime) 100%);
    border-radius: 7%;
}

#grid-pagina>figure {
    margin: 0;
}

#prezentare {

    grid-area: prezentare;
}

#utilizatori {

    grid-area: utilizatori;
}

#evenimente {

    grid-area: evenimente;
}

#anunturi {

    grid-area: anunturi;
}

#utilizator_statistica {

    grid-area: utilizator_statistica;
}

#date_site {

    grid-area: date_site;
}

#welcome {

    grid-area: welcome;
}

#Promotii {

    grid-area: Promotii;
}

#orar {

    grid-area: orar;
}

#intrebari_frecvente {
    padding: 5px;
    grid-area: intrebari_frecvente;
}



@media screen and (max-width:1200px) {
    html {
        font-size: 13px;
        padding: 0px;
    }

    #grid-pagina {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

        grid-template-areas: "welcome  welcome"
            "utilizator_statistica utilizatori"
            "date_site evenimente"
            "anunturi orar"
            "prezentare  prezentare"
            "Promotii Promotii"
            "intrebari_frecvente intrebari_frecvente ";
    }
}

@media screen and (max-width:700px) {

    html {
        font-size: 12px;

    }


    #grid-pagina {
        display: block;
        gap: 2px;
    }
}