body {

    --portocaliu: #E07846;
    --bleu: #6CC7E0;
    --culoare-text: #665D59;
    --verde-lime: #77E0AE;
    --verde-inchis: #146635;
    --gri: rgb(192 192 192);
    --portocal: rgb(246 167 8);
    --spatiere: 50px;
    --spatiere1: 25px;
    --spatiere2: 0px;
    padding-left: var(--spatiere);
    padding-right: var(--spatiere);
}



@media screen and (max-width:1200px) {
    body {
        padding-left: var(--spatiere1);
        padding-right: var(--spatiere1);
    }


}

@media screen and (max-width:700px) {
    body {
        padding-left: var(--spatiere2);
        padding-right: var(--spatiere2);
    }


}




#link-top {
    position: fixed;
    bottom: 0.9em;
    opacity: 0.5;
    left: 1em;
    width: 3rem;
    box-sizing: border-box;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border: 5px solid var(--bleu);
    background: var(--verde-inchis);
    box-shadow: 0px 0px 5px 2px var(--culoare-text);
    transform: rotate(45deg);
    transition: all 600ms linear;

}

#link-top:hover {

    opacity: 1;
    background: var(--gri);
    transition: all 600ms linear;

}

#triunghi {
    height: 0px;
    width: 0;
    display: inline-block;

    border-bottom: 1.5rem solid var(--gri);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    vertical-align: center;
    transform: translateX(-6%) rotate(-45deg) scale(0.9) translateY(-10%);
    transition: all 600ms linear;


}

#link-top:hover>#triunghi {
    border-bottom: 1.5rem solid var(--culoare-text);

}

#tab-orar thead {
    border: 5px solid var(--culoare-text);
}

#tab-orar tr:hover {
    background-color: var(--gri);
    font-size: 110%;
    transition: all 0.75s linear;
}

#tab-orar th,
#tab-orar td {
    border: 3px solid var(--culoare-text);
    padding: 3px;
}

#tab-orar {
    border-spacing: 0px;
    border-collapse: collapse;
    /* width: 300px; */
}

#tab-orar th:nth-child(2n+1) {
    background-color: var(--portocaliu);
}

#tab-orar th:nth-child(2n) {
    background-color: var(--portocal);
}

#tab-orar tbody tr:nth-child(2n) {
    box-shadow: 0px 0px 3px 3px var(--bleu) inset;
}

#tab-orar tbody tr:nth-child(2n+1) {
    box-shadow: 0px 0px 3px 3px var(--verde-lime) inset;
}

.container-iframe {
    display: flex;
    flex-direction: column-reverse;


}

#ifr-video {
    border: 5px solid var(--verde-lime);
    height: 150px;
    width: 350px;

}

.container-iframe iframe {
    width: 25%;

}

.taburi-iframe {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-between;

}

.calcul,
.numere {
    font-family: fantasy;
    color: var(--bleu);

}

.calcul,
.operator {
    color: var(--portocaliu);

}

.calcul,
.procent {
    color: var(--verde-lime);

}

.calcul,
.egal {
    color: var(--gri);

}


.taburi-iframe>a {
    display: flexbox;
    height: auto;
    width: 50px;
    height: 1.5em;
    border-left: 1px solid var(--culoare-text);
    border-right: 1px solid var(--culoare-text);
    border-bottom: 1px solid var(--culoare-text);
    background-color: var(--verde-lime);
    padding: 0.4em;
    text-decoration: none;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    font-size: 50%;
    transition: all 600ms linear;
}

#iframe1:hover,
#iframe2:hover,
#iframe3:hover {
    background-color: var(--verde-inchis);
    color: var(--verde-lime);
    box-shadow: 0px 0px 3px 3px var(--verde-lime);
    transition: all 600ms linear;
}





#Titlu {
    font-size: 200%;
    padding: 15px;
    margin: 2em;
    text-align: center;
    color: var(--portocaliu);
}


.taburi-iframe>a:last-child {
    margin-bottom: 0;
}


footer {
    margin-top: 10px;
    border-width: 3px var(--gri);
    border-radius: 2%;
    box-shadow: 0px 0px 20px 2px var(--portocaliu);
    /* background: linear-gradient(0deg, var(--portocal) 0%, var(--verde-lime) 100%); */
    background-color: var(--verde-lime);
}

::cue {
    background: var(--culoare-text);
    font-style: italic;
    color: #ffbbbb;
}


#fig1 {
    width: 350px;

}

#loc {
    width: 350px;

}

#videoVTT {
    width: 300px;
}



@media screen and (max-width: 1200px) {


    #fig1 {
        width: 300px;
    }

    #loc {
        width: 300px;
    }

    #ifr-video {
        width: 300px;
    }

    #videoVTT {
        width: 80%px;
    }


}

@media screen and (max-width: 700px) {

    #fig1 {
        width: 70%;
    }

    #ifr-video {
        width: 70%;
    }

    #loc {
        width: 70%;

    }

    #videoVTT {
        width: 70%;
    }




}

a[href^="http"]::before {
    content: "\2BB3";
    width: 1.5em;
    height: 1.5em;
    color: black;
}

.linkuri {
    color: var(--portocaliu);
    background-image: radial-gradient(circle, var(--verde-lime) 10%, var(--portocaliu) 40%, transparent 80%, transparent 10%);
    background-position: center;
    transition: background-size 6s;
}

.linkuri:active {
    border: 4px solid var(--culoare-text);
}


a:hover {
    background-size: 100%;
}